.cards {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.card {
  width: 200px;
  height: 266px;
  border-radius: 2px;
  padding: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}
.card button {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: red;
	color: inherit;
	border: 2px solid gray;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.card img {
  width: 150px;
}
.card p {
  color: black;
}
